omnisline.com, www.omnisline.com {
	handle /api/v1/auth/login {
		respond 404
	}

	handle /api/v1/* {
		reverse_proxy wanxiang-backend:8080
	}

	handle_path /cap/* {
		reverse_proxy cap:3000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
